# Virtual Environment
venv/
.venv/
ENV/
env/

# Python Cache & Compilation
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Datasets (Prevent uploading large CSV files)
ml/data/
models/test_set.csv

# Frontend Dependencies & Builds
frontend/node_modules/
frontend/dist/
.eslintcache
.oxlintrc.json

# IDEs & System files
.DS_Store
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Project Reports
CreditRisk_X_Project_Report_Final.docx
CreditRisk_X_Project_Report_Final.md
